.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    max-width: 30%;
    height: 100px;
}

h1 {
    font-size: 50px;
    color: blue;
}

.line {
    width: 80%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    top: 30%;
    /* Đặt đỉnh của line ở giữa màn hình */
    left: 10%;
    /* Dịch chuyển line sang trái 10% chiều rộng để căn giữa */
}

#top {
    top: 30px;
    position: relative;
    display: flex;
}



#mid {
    top: 150px;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}

.left {
    margin-top: 20px;
    width: 250px;
    display: block;
    box-shadow: 2px 0px 1px #888888;
    padding-left: 50px;
    height: 330px;
}

.lienhe {
    width: 200px;
    height: 40px;
    padding: 5px 20px;
    background-color: rgb(10, 166, 228);
    font-size: 26px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.left li {
    font-size: 22px;

}

.right {
    top: 40%;
    margin-left: 100px;
}

.logo {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.symbol::before {
    content: "\220E";
}

.menu {
    max-width: 70%;
    top: 50px;
    right: 80px;
    height: 50px;
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    margin: 0;
}

.menu li a {
    display: block;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    padding: 15px 30px;
    text-align: center;
    color: #555;
    text-decoration: none;
}

.menu li a:hover {
    color: black;
}

table {
    width: 100%;
}

.logo_diem {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.school{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.tieungu{
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
  }

th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

th {
    background-color: #a69c9c;
}

.body {
    margin: 0;
    padding: 0 350px;
    background-color: #888888 ;
}